<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>contactSendingServlet</servlet-name>
    <servlet-class>cz.cvut.felk.via.kanarci.gui.server.ContactSendingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactSendingServlet</servlet-name>
    <url-pattern>/gui/contact</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gui.html</welcome-file>
  </welcome-file-list>

</web-app>
