<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>contactSendingServlet</servlet-name>
    <servlet-class>cz.cvut.felk.via.kanarci.gui.server.RPCImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactSendingServlet</servlet-name>
    <url-pattern>/gui/contact</url-pattern>    
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gui.html</welcome-file>
  </welcome-file-list>

</web-app>

